// https://vuex.vuejs.org/guide/mutations.html
//
// The only way to actually change state in a Vuex store is by committing a
// mutation. Vuex mutations are very similar to events: each mutation has a
// string type and a handler. The handler function is where we perform actual
// state modifications, and it will receive the state as the first argument
//
// One important rule to remember is that mutation handler functions must be
// synchronous
//
export const mutations = {
  // // this.$store.commit('<%= store_name %>/incrementCounter', 42 )
  // setCounter(state, payload) {
  //   state.counter = payload
  // },
}